{% extends 'main/base.html' %}  
{% block content %}




    
    
       
        <div style="height: 780px;" class="middle">
            <br><br><br><br><br><br>
            <h2> &nbsp;&nbsp; bye_BluE!<br><br>
                
                &nbsp;&nbsp;The byeBlue website is a website created to overcome the depression caused by people being unable to <br>
                &nbsp;&nbsp;go outside due to the corona virus.
            <br><br>
            &nbsp;&nbsp; the list of this website consists of Home_training, watchng, online_class, and psychological test.
            
            </h2>
            <br>

           
        </div>   
        
        

    

{% endblock %}