
secrets.json


# Created by https://www.toptal.com/developers/gitignore/api/python,venv,django,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,venv,django,visualstudiocode

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
