{% extends 'main/base.html' %}  
{% block content %}

<script>
    function checkpost(){

        if($("input[name=contents]").val() == ""){
            alert("내용이 입력되지 않았습니다");
            $("input[name=contents]").focus();
            return false;
        }
        return true;
    }
</script>

<style>
    .background{
        background-image : url(../../static/images/OTT.png)
    }
    .table{
        width :1000px;
        text-align: center;
        color :pink;
        margin-left:auto;
        margin-right:auto;

    }
    .form-group{
        width : 250px;
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="bgPinkLighten4 ">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="text-center">장르 : {{board.genre}}</td>
            </tr>
            <tr>
                
                <td class="text-center">제목 : {{board.title}}</td>
            </tr>
            <tr>
                <td class="text-center">작성자 : {{board.writer}}</td>
            </tr>
            <tr>
                <td class="text-center">평가 : {{board.funny}}</td>
            </tr>            
            <tr>
                <td><div style="min-height:300px;">{%autoescape off %}{{board.contents}}{% endautoescape%}</div></td>
            </tr>
            
        </tbody>
    </table>
    

<div class ="text-center">
        <a class = "btn btn-primary btn-sm" href ="{% url 'OTT:list' %}">go back</a>
        <p></p>
        {% if session_name == board.writer %}
        <a class = "btn btn-danger" onclick = "location.href='/OTT/delete/{{board.id}}'">삭제</a>
        <a class = "btn btn-success" onclick = "location.href='/OTT/edit/{{board.id}}'">수정</a>
        {% endif %}
        <p></p>
        <form name = "form" method = "POST" action = "/OTT/comment/{{board.id}}" onsubmit="return checkpost()">
        {% csrf_token %}

        <div class="form-group">
            <!-- <label for="contents">contents</label> -->
            <textarea class="form-control" name = "contents" >{{comment.contents}}</textarea>
        </div>
        <p></p>
        <div class="text-center">
            <input class="btn btn-primary btn-sm" type ="submit" vlaue="addpost">
        </div>
    
        </form>
</div>


{% for data in comment %}
    <div style="text-align: center;">
    <p4 style=" color: pink;">{{data.writer}}님 : {{data.contents}}</p4>
    <p6 style="color:rgb(148, 138, 140)">{{data.write_date}}</p6>
    <p></p>
    </div>

{% endfor %}
</div>   
    
{% endblock %}