{% extends 'main/base.html' %}  
{% block content %}


<script>
    function checkpost(){
      
        if($("input[name=title]").val() == ""){
            alert("제목이 입력되지 않았습니다");
            $("input[name=title]").focus();
            return false;
        }
        if($("input[name=contents]").val() == ""){
            alert("내용이 입력되지 않았습니다");
            $("input[name=contents]").focus();
            return false;
        }
        return true;
    }
</script>

<style>
    form{
        margin-top: auto;
        margin-bottom: auto;
        margin-left:auto;
        margin-right:auto;
        width : 80%;
    }
    .btn-group{
        width: 50%;
        margin-left: 23%;
        margin-right: auto;
        color:royalblue;}

</style>

<form name = "form" method = "POST" action = "{% url 'OTT:write' %}" onsubmit="return checkpost()">
    {% csrf_token %}

    <div class = "form-group">
        <label for="genre">장르</label>
        <input class="form-control" type ="text" name="genre"> 
    </div>
    <div>
        <label for="title">제목</label>
        <input class="form-control" type ="text" name="title" placeholder="제목을 입력하세요"> 
    </div>
    <div>
        <label for="contents">내용</label>
        <textarea rows="12" class = "form-control" name = "contents"  placeholder="오늘의 시청을 기록하세요"></textarea> 
    </div>
    <p></p>
    <div class="form-group">
         <div class="btn-group" data-toggle="buttons" id="radiogroup">
             <label class="btn btn-secondary">
             <input type="radio" name="funny" id="option1" autocomplete="off" value="1">보통이에요
             </label>
             <label class="btn btn-secondary">
             <input type="radio" name="funny" id="option2" autocomplete="off" value="2"> 재밌어요
             </label>
             <label class="btn btn-secondary active">
             <input type="radio" name="funny" id="option3" autocomplete="off" checked value="3"> 아주 재밌어요
             </label>
        </div>
     </div>
    <div class="text-center">
        <input class="btn btn-primary btn-sm" type ="submit" vlaue="addpost">
    </div>
    
</form>

{% endblock %}