{% extends 'main/base.html' %}  
{% block content %}
<!--login에서 check-->
<!--공백입력해도 id를 인정하면 안 됨 => trim사용 -->
<script>
    function checkmemb(){
        if($("input[name=email]").val() == ""){
            alert("ID[email] 입력은 필수입니다");
            $("input[name=email]").focus();
            return false;
        }
        if($("input[name=pw]").val() == ""){
            alert("PW 입력은 필수입니다");
            $("input[name=pw]").focus();
            return false;
        }
        return true;
    }
</script>

<div style="display:flex; justify-content: center; align-items:center; min-height:100vh;">
    
    <form name = "form" action="{% url 'account:login' %}" method = "POST" onsubmit = "return checkmemb();">
    {% csrf_token %}

    <div class="form-group">
        <label for="email">ID[email]</label>
        <input class = "form-control" type="text" name="email" >
    </div>
    <div class="form-group">
        <label for="pw">PW</label>
        <input class = "form-control" type="password" name="pw" >
    </div>
    <p></p>
    <div class="text-center"><input type ="submit" value = "login" class = "btn btn-primary"></div>
    </form>

</div>

{% endblock %}