{% extends 'main/base.html' %}  
{% block content %}

<h3 style = "text-align: center;"> 홈트레이닝 게시판</h3>
{%if name %}
<p>안녕하세요! {{name}}님, 오늘은 운동으로 건강한 생활 어떠세요?
    <button class="btn btn-outline-secondary">
        <a style="color:#7D757D;" href ="{% url 'account:logout' %}">log out</a>
    </button>
</p>
{% else %}
<p>안녕하세요! 오늘은 운동으로 건강한 생활 어떠세요?</p>
{% endif %}


<table class = "table table-hover text-center">
    <thead class="thead-dark">
        <tr>
            <td>부위</td>
            <td>제목</td>
            <td>날짜</td>
            <td>이름</td>
        </tr>
    </thead>
    <tbody>
        <!-- <p>{{ht_board}}</p> -->
        {% for data in ht_board%}
        <tr>            
            <td>{{data.part}}</td>
            <td style="color: royalblue;"><a onclick = "location.href='/HomeTraining/view/{{data.id}}'">{{data.title}}</a></td>
            <td>{{data.write_date}}</td>
            <td>{{data.writer}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination justify-content-center">
    {% if ht_board.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?p={{ ht_board.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Previous</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#"
        >{{ ht_board.number }} / {{ ht_board.paginator.num_pages }}</a
      >
    </li>
    {% if ht_board.has_next %}
    <li class="page-item">
      <a class="page-link" href="?p={{ ht_board.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {% endif %}
  </ul>

{% if name %}
<div class="text-center">
    <button class="btn btn-outline-secondary">
        <a style="color:#7D757D;"  href = "{% url 'HomeTraining:write' %}">add post</a>
    </button>
</div>
{% else %}
<p>글 작성을 원하신다면 로그인이 필요합니다</p>
{% endif %}


{% endblock %} 