{% extends 'main/base.html' %}  
{% block content %}

<div class="bgPinkLighten4 ">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="text-center">운동부위 : {{board.part}}</td>
            </tr>
            <tr>
                
                <td class="text-center">제목 : {{board.title}}</td>
            </tr>
            <tr>
                <td class="text-center">작성자 : {{board.writer}}</td>
            </tr>
            <tr>
                <td><div style="min-height:100;">{%autoescape off %}{{board.contents}}{% endautoescape%}</div></td>
            </tr>
            <tr>
                <td class="text-center">
                {% if board.images %}
                    <img src="{{board.images.url}}" width="300" height="300">
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    

<div class ="text-center">
        <a class = "btn btn-primary btn-sm" href ="{% url 'HomeTraining:list' %}">go back</a>
        <p></p>
        {% if session_name == board.writer %}
            <a class = "btn btn-danger" onclick = "location.href='/HomeTraining/delete/{{board.id}}'">삭제</a>
            <a class = "btn btn-success" onclick = "location.href='/HomeTraining/edit/{{board.id}}'">수정</a>
        {% endif %}
        <p></p>
        <a class = "btn btn-primary btn-sm" style="color:powderblue;" onclick = "location.href='/HomeTraining/comment/{{board.id}}'">comment</a>
</div>


{% for data in comment %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <p4>{{data.writer}}님 : {{data.contents}}</p4>
            <p></p>
            <p6>{{data.write_date}}</p6>
        </tr>        
    </tbody>
</table>

{% endfor %}
        
</div>   
    
{% endblock %}