{% extends 'main/base.html' %}  
{% block content %}

<script>
    function checkpost(){
      
        if($("input[name=title]").val() == ""){
            alert("제목이 입력되지 않았습니다");
            $("input[name=title]").focus();
            return false;
        }
        if($("input[name=contents]").val() == ""){
            alert("내용이 입력되지 않았습니다");
            $("input[name=contents]").focus();
            return false;
        }
        return true;
    }
</script>

<style>
    form{
        margin-top: auto;
        margin-bottom: auto;
        margin-left:auto;
        margin-right:auto;
        width : 80%;
    }
    .file_button{
        width:50%;
        margin-left: 24%;
        margin-right: auto;
        padding : 6px 25px; 
        background-color: pink; 
        color:royalblue; 
        cursor:pointer}

</style>

<form name = "form" method = "POST" action = "{% url 'HomeTraining:write' %}" onsubmit="return checkpost()" enctype="multipart/form-data" class="form_write">
    {% csrf_token %}

    <div class = "form-group">
        <label for="part">운동부위</label>
        <input class="form-control" type ="text" name="part"> 
    </div>
    <div>
        <label for="title">제목</label>
        <input class="form-control" type ="text" name="title" placeholder="제목을 입력하세요"> 
    </div>
    <div>
        <label for="contents">내용</label>
        <textarea rows="12" class = "form-control" name = "contents"  placeholder="오늘의 운동을 기록하세요"></textarea> 
    </div>
    <p></p>
    <input  type ="file" name="images" class="file_button">  
    <p></p>
    <div class="text-center">
        <input class="btn btn-primary btn-sm" type ="submit" value="addpost">
    </div>
    
</form>

{% endblock %}