  
<!doctype html>
<html>
    <head>
        <tilte>bye_BluE</tilte>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" />
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body> 
            
        <div class="top">
            <h2>bye_BluE!<br><br>
                
            The byeBlue website is a website created to overcome the depression caused by people being unable to go outside due to the corona virus.</h2>
            <br>
        </div>

        <div class="middle">
            <ul>
                <div class="li"><a href="#"><u><h4>홈트</h4></u></a></div>
                <div class="li"><a href="#"><u><h4>동영상</h4></u></a></div>
                <div class="li"><a href="#"><u><h4>Oline_Class</h4></u></a></div>
                <div class="li"><a href="#"><u><h4>Psychology_test</h4></u></a></div>
            </ul>
        </div>
        
        <div class="bottom">
            
        </div>
    </body>
</html>