  
<!doctype html>
<html>
    <head>
        <tilte></tilte>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    
    </head>
    <body style="background-color: #FFDDDD; color: #544E54;"> 
        <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
        <div class="top">

            <ul class="nav">
                <li class="nav-item">
                  <a style="color: #7D757D; margin-left: 650px;" class="nav-link " aria-current="page" href="#">Home_training</a>
                </li>
                <li class="nav-item">
                  <a style="color: #7D757D;" class="nav-link" href="#">Watching</a>
                </li>
                <li class="nav-item">
                  <a style="color: #7D757D;"class="nav-link" href="#">Oline_Class</a>
                </li>
                <li class="nav-item">
                  <a style="color: #7D757D;" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>

                <button  type="button" onclick = "location.href = 'account/login'" style="margin-left: 660px; margin-top: 10px;"class="btn btn-outline-secondary">Log in</button>
                <button type="button" onclick = "location.href = 'account/signup'" style="margin-left: 20px; margin-top: 10px;" class="btn btn-outline-secondary">Sign up</button>
                <button type="button" onclick = "location.href = 'account/logout'" stype="margin-left: 20px; margin-top: 10px;" class="btn btn-outline-secondary">Log out</button>
            </ul>
            
            <br>
            
        </div>
        <div class="middle">
            <br><br><br><br><br><br>
            <h2> &nbsp;&nbsp; bye_BluE!<br><br>
                
                &nbsp;&nbsp;The byeBlue website is a website created to overcome the depression caused by people being unable to <br>
                &nbsp;&nbsp;go outside due to the corona virus.
            <br><br>
            &nbsp;&nbsp; the list of this website consists of Home_training, watchng, online_class, and psychological test.
            
            </h2>
            <br>

           
        </div>    
    </body>
</html>